.navbar-collapse{
    float: right;
}

.card img {
    max-height: 150px;
    max-width: 150px;
    background-size: cover;
}



.card-title{
    font-weight: bold;
}
.price{
    font-weight: bold;
    font-size: 16px;
}