<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img src="https://previews.123rf.com/images/sn333g/sn333g1704/sn333g170400198/76960406-education-and-chemistry-colorful-symbol.jpg"
                class="card-img-top" alt="..." class="img-responsive">
            <div class="description">
                <h3 class="card-title">Card</h3>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>

                <div class="clearfix">
                    <div class="price">15</div>
                    <a href="#" type="button" class="btn btn-success" class="pull-right">Button</a>

                </div>
            </div>

        </div>
    </div>
     <div class="col-md-4">
        <div class="card">
            <img src="https://previews.123rf.com/images/sn333g/sn333g1704/sn333g170400198/76960406-education-and-chemistry-colorful-symbol.jpg"
                class="card-img-top" alt="..." class="img-responsive">
            <div class="description">
                <h3 class="card-title">Card</h3>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>

                <div class="clearfix">
                    <div class="price">15</div>
                    <a href="#" type="button" class="btn btn-success" class="pull-right">Button</a>

                </div>
            </div>

        </div>
    </div>
     <div class="col-md-4">
        <div class="card">
            <img src="https://previews.123rf.com/images/sn333g/sn333g1704/sn333g170400198/76960406-education-and-chemistry-colorful-symbol.jpg"
                class="card-img-top" alt="..." class="img-responsive">
            <div class="description">
                <h3 class="card-title">Card</h3>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>

                <div class="clearfix">
                    <div class="price">15</div>
                    <a href="#" type="button" class="btn btn-success" class="pull-right">Button</a>

                </div>
            </div>

        </div>
    </div>
</div>